@import url("/fonts/inter.css");

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Not related to a theme */
:root {
  --ligo-opacity_disabled-state: 0.3;
  --ligo-shadow_focus-visible: 0 0 0 4px var(--ligo-base-color_blue),
    0 0 0 6px var(--ligo-base-color_blue-light);
  --ligo-text_size-lg: 1.125rem;
  --ligo-text_size-xl: 1.25rem;
  --ligo-text_size-2xl: 1.5rem;
  --ligo-text_size-3xl: 1.875rem;
  --ligo-text_size-4xl: 2.25rem;
  --ligo-text_size-5xl: 3rem;
  --ligo-text_size-6xl: 3.75rem;
  --ligo-text_size-7xl: 4.5rem;
  --ligo-text_size-8xl: 5.25rem;
  --ligo-text_size-9xl: 6rem;
  --ligo-text_size-10xl: 6.75rem;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --blockquote-color: var(--ligo-base-color_stealth);
  /* Redefine tokens from light theme here */
  --ligo-color_background-primary: var(--ligo-base-color_stealth-dark);
  --ligo-color_background-secondary: var(--ligo-base-color_stealth);
  --ligo-color_content-primary: var(--ligo-base-color_white);
  --ligo-color_content-primary-transparent: var(--ligo-base-color_white-transparent);
  --ligo-color_content-secondary: var(--ligo-base-color_steel-light);
  --ligo-color_content-action: var(--ligo-base-color_blue-lighter);
}

/* You can override the default Infima variables here using light theme tokens. */
:root {
  --ifm-code-font-size: 0.9rem;

  --ifm-background-color: var(--ligo-color_background-primary);
  /* colors */
  --ifm-color-primary: var(--ligo-base-color_blue);

  /* header */
  --ifm-navbar-link-hover-color: var(--ligo-color_hover-primary);
  --ifm-navbar-background-color: var(--ifm-background-color);

  /* footer */
  --ifm-footer-title-color: var(--ligo-color_content-primary);
  --ifm-footer-background-color: var(--ligo-color_background-secondary);
  --ifm-footer-link-hover-color: var(--ligo-color_hover-primary);
  --ifm-footer-color: var(--ligo-color_content-primary);

  /* link */
  --ifm-link-color: var(--ligo-color_content-action);
  --ifm-link-hover-color: var(--ligo-color_hover-primary);

  --ifm-tabs-color-active: var(--ligo-color_content-action);
}

html {
  font-size: 16px;
  line-height: 24px;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", SF Pro Text, Roboto, -apple-system, BlinkMacSystemFont, Helvetica Neue,
    Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: var(--ligo-color_content-primary);
  margin: 0 auto;
}

code {
  font-family: Menlo, Roboto Mono, SFMono-Regular, Segoe UI, Courier, monospace;
  margin-left: 2px;
  margin-right: 2px;
  border-radius: 2px;
  border: none;
  outline: none;
}

pre {
  margin: 0px;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.625rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.125rem;
}

blockquote {
  background-color: var(--blockquote-color);
  border-left: 5px solid var(--ligo-color_content-primary);
  color: var(--ligo-color_content-primary);
  border-radius: 2px;
  --ifm-blockquote-padding-vertical: var(--ifm-spacing-horizontal);
}

blockquote code {
  opacity: 1;
}

/* Reveal from bottom animation */
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.5s all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* Screen reader */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  word-wrap: normal;
  border: 0;
}

/* Initial Docusaurus footer use fixed color. Need a dynamic one to switch with themes */
.footer {
  background-color: var(--ifm-footer-background-color);
}

.cheatsheet tr > td:first-of-type {
  min-width: 240px;
}

/**
 * Shared styling
 */
.centered {
  display: flex;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  margin: 0 auto;
}

#pageNotFoundPage {
  margin-top: 80px;
  margin-bottom: 80px;
}

/**
 * 404 page
 */
#pageNotFoundPage #mural {
  position: relative;
  width: 320px;
  height: 500px;
}

#pageNotFoundPage #mural img {
  position: absolute;
}

#pageNotFoundPage #mural .muralPolygon1 {
  transform: translateX(5em);
}

#pageNotFoundPage #mural .muralPolygon2 {
  transform: translateX(6em);
}

#pageNotFoundPage #mural .muralPolygon3 {
  transform: translateY(11em);
}

#pageNotFoundPage #mural .muralPolygon4 {
  transform: translateX(2.5em) translateY(10em);
}

#pageNotFoundPage #mural .muralPolygon5 {
  transform: translateX(16em) translateY(11em);
}

#pageNotFoundPage #message {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 6em;
  flex: 1;
}

#pageNotFoundPage .title {
  font-size: 6.25rem;
}

#pageNotFoundPage .lookingForSomething {
  font-size: 1.8em;
}

#pageNotFoundPage .discoveriesHappen {
  font-size: 2.3em;
}

#pageNotFoundPage .letUsHelpWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2.5em;
}

#pageNotFoundPage .letUsHelp {
  display: flex;
  justify-content: flex-end;
  font-size: 1.25em;
}

@media (min-width: 1024px) {
  .row .col {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (min-width: 1500px) {
  .centered {
    max-width: 1400px;
  }
}

@media (max-width: 1023px) {
  #preview {
    width: 100%;
  }

  .centered {
    flex-direction: column;
    align-items: center;
  }

  #pageNotFoundPage #message {
    margin-left: 0;
    align-items: center;
  }
}

@media (max-width: 560px) {
  #preview {
    width: 100%;
  }

  #pageNotFoundPage #mural {
    margin: -180px 0 -150px 0;
    transform: scale(0.5);
  }

  #pageNotFoundPage #message {
    font-size: 0.7em;
    margin: 0 10px;
  }
}

.codeTable {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
}

.codeTable > .primitive {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: right;
  text-align: right;
  align-items: center;
  font-weight: bold;
  padding-right: 1rem;
}

.codeTable > div:nth-child(4n + 1) {
  background-color: var(--ifm-table-stripe-background);
}

.codeTable > div:nth-child(4n + 2) {
  background-color: var(--ifm-table-stripe-background);
}

.codeTable > .example {
  padding-top: var(--ifm-leading);
  background-color: var(--ifm-table-stripe-background);
}

.codeTable > .example pre,
.codeTable > .example .codeBlockLines_src-theme-CodeBlock- {
  background-color: transparent;
}
