.partners {
  padding: 50px 0;
  margin-top: auto;
  flex: 1;
}

.partners .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.partners #heading {
  word-wrap: break-word;
  width: 200px;
  line-height: 1em;
}

.partners #list {
  display: flex;
}

.partners a {
  line-height: 0;
}

.partners a + a {
  margin-left: 50px;
}

.partners svg {
  height: 80px;
  color: var(--ligo-color_content-primary);
}
